*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.562);
}

.bordered {
  border: var(--border-width) solid var(--border-color);
}

canvas {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
